body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #072a4e;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.ticket-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three flights in a row */
    grid-gap: 2rem;
}

.ticket {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem; /* Add margin for spacing between rows */
}

.ticket h2 {
    color: #072a4e;
}

button {
    background-color: #cb3c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

.flight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 20px; /* Adjust the gap between flights */
}

